*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

header {
    background-color: #339966;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    color: #339966; /* Heading text color */
    text-align: center;
    margin-bottom: 20px;
}

/* Contact information section */
#contact-info {
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.branch {
    margin-bottom: 10px;
}

.branch h3 {
    color: #339966;/* Branch name color */
}

/* Contact form section */
#contact-form {
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #339966; /* Blue button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #339966; /* Darker blue button background color on hover */
}
