
<main class="row g-4  px-2 justify-content-center bg-white">
    <header class="text-center p-5">
        <h1 class="fw-4 ">Our Clients</h1>
    </header>
    
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/RIFOSI.PNG" alt="Client 8">
        <h2>RHIFOSI GROUP</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/LENCO.PNG" alt="Client 1">
        <h2>LBC Lenco Construction Pty Ltd</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/snd.PNG" alt="Client 2">
        <h2>S & ND Engineering and Environmental Pty Ltd</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/solang.PNG" alt="Client 3">
        <h2>Solang Batho Plant Hire CC</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/LAPHINDA.PNG" alt="Client 4">
        <h2>Laphinda Cleaning and Security Services CC</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/cdr.PNG" alt="Client 5">
        <h2>CDR Sisonke Electrical Pty Ltd</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/JC.PNG" alt="Client 6">
        <h2>JC Wright Electrical Contractors Pty Ltd</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/ND.PNG" alt="Client 7">
        <h2>Nthutang Developers Pty Ltd</h2>
        <p></p>
    </div>
    <div class="client col-md-3 col-sm-12 md-me-3 mb-3">
        <!-- Placeholder image -->
        <img src="../assets/TMS LOGOS/bagorosi.PNG" alt="Client 8">
        <h2>Bagorosi Pty Ltd</h2>
        <p> </p>
    </div>
</main>
