<header>
    <h1>About Our Company</h1>
</header>
<main>


<section id="overview">
<h2>Company Overview</h2>
<p>
    Timbavati Medical Services (TMS) is a South African-based occupational health, wellness, and occupational health and safety company. TMS has experience and expertise in the fields of occupational medicine and health, occupational health and safety, employee wellness, and primary healthcare.<br><br>

    Timbavati Medical Services is a 100% black-owned company. TMS renders comprehensive Occupational Medicine & Health, Occupational Hygiene, Occupational Therapy, Occupational Health & Safety, Wellness, and Primary Healthcare services to diverse clients within the public and commercial sectors.<br><br>

    TMS was established in 2010 for the purpose of enhancing the health and safety of personnel in diverse industries. TMS works in close collaboration with occupational hygiene specialists, dieticians, and occupational therapists. These resources have the requisite skills and experience to provide high-quality services in the fields of occupational health and safety in compliance with relevant legislation and best practices.
</p>
</section>

   <section id="vision">
<h2>About the  Director</h2>
<p>
    Dr Courage Tiyiselani Mkhawana<br>
    Dr Mkhawana is a registered Independent Medical Practitioner with the Health Professions Council of South Africa (HPCSA). He has enormous experience and knowledge is in the field of Emergency Medicine, General Practice, HIV Management, Occupational Medicine, and infectious Diseases Management, including Covid-19. This experience was gained through practice and continued studies. He worked in the capacity of Emergency Medical Officer at various private hospitals.<br><br>

    Dr Mkhawana is seasoned in both clinical and administrative skills having worked in addition, at Government Hospitals. He worked as a Medical Officer at Dr Yusuf Daddo Hospital situated in the West Rand, Gauteng where he managed and treated COVID -19 patients during the peak stages of the pandemic in South Africa.<br><br>

    He was appointed as a Resident Medical Officer at Netcare Pinehaven Hospital charged with responsibilities of managing, treating patients at ICU and COVID wards particularly during the night.<br><br>

    He manages and operate three travel clinics in Gauteng and has license to issue Yellow Fever vaccinations and other infectious diseases.<br><br>

    Dr Mkhawana completed a Bachelor of Medicine and Bachelor of Surgery (MBChB) from the University of Limpopo (now Sefako Makgatho Medical University) in 2006 and then completed the requirement for community service in 2009. In 2010, he opened a family practice at Protea Glen in Soweto where he renders service as a General Practitioner to date.<br><br>

    Dr Mkhawana is a registered Occupational Medicine Practitioner and a sole director of Timbavati Medical Services. In 2011, he completed a Post Graduate Diploma in Occupational Medicine & Health followed by a Post Graduate Diploma in Tropical Medicine & Health in 2013 from University of Pretoria. He completed a certificate in Travel Medicine from Wits University in association with South African Society of Travel Medicine.<br><br>

    He is also a Certified Independent Medical Examiner (CIME) (American Board Of Independent Medical Examiners), he has a valid ACLS  (Advanced Cardiovascular Life Support)& PALS (Advanced Paediatric Life Support) , ATLS (Advanced Trauma Life Support) , EMATT (Emergency Medicine Approach To Trauma). He holds a certificate in Essentials of Entrepreneurship from Harvard Business School. He has certificate in Introductory Good Clinical Practice, certificate in Basics of Project Management (Unisa), Certificate in Strategic Management (Unisa).<br><br>

    His interest includes preventative medicine, workplace healthcare and construction. He is the host and organizes the annual Soweto wellness race which focusses on raising awareness and promotion of healthy lifestyle. Additionally, he operates and manages a weight loss clinic.
</p>
</section>


    <section id="vision">
        <h2>Our Vision</h2>
        <p>
Our vision is to establish ourselves as a global leader in providing quality primary healthcare services, occupational medicine and health services, occupational hygiene, occupational health and safety services, and employee wellness programs. This will be achieved through the application of sound management practices, empowered human resources, innovation management, technological development, and strategic partnerships.
.</p>
    </section>

    <section id="mission">
        <h2>Our Mission</h2>
        <p>Our mission is to augment, improve and/or implement a complete preventative care, workplace safety and accurate work readiness assessments for clientele using a myriad specialised approach.</p>
    </section>

    <section id="strategy">
        <h2>Our Strategy</h2>
        <p>Timbavati Medical Services is strategically orientated as a value creation entity to its Clients within the Republic of South Africa. Our strategic thrust is uncompromised service achieved through a “cost leadership” approach.</p>
    </section>


</main>

