<div class="content">

    <header class="header">
        <div class="logo">
                <img src="../assets/TMS LOGO/Timbavati.jpeg" alt="Logo" width="200">
        </div>
        <h1>TIMBAVATI MEDICAL SERVICES</h1>
        <nav class="navigation"> <!-- Added class to the nav element -->
                <a href="Home.html" class="me-1 mb-1">Home</a>
                <a href="About.html" class="me-1 mb-1">About</a>
                <a href="OUR SERVICES.html" class="me-1 mb-1">Services</a>
                <a href="our clients.html" class="me-1 mb-1">Clients</a>
                <a href="Gallery.html" class="me-1 mb-1">Gallery</a>
                <a href="CONTACT.html" class="me-1 mb-1">Contact</a>

        </nav>
</header>

<div class="welcome">
        <h2>Occupational Health</h2>
        <p>Welcome to Tmbavati medical services! We provide comprehensive occupational health services to ensure the well-being of your workforce.</p>
</div>
    
</div>
