<!-- <div class="small-header">
        <a href="https://www.facebook.com/share/VfNM3pfxhXVN6kDc/?mibextid=qi2Omg"><i class="fab fa-facebook"></i></a>
        <a href="https://wa.me/27833646661"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/timbavati.medicals/"><i class="fab fa-instagram"></i></a>
        <a href="mailto:info@tmedicals.co.za"><i class="far fa-envelope"></i></a>
</div> -->

<header class="header">
        <div class="logo">
                <img src="../assets/TMS LOGO/Timbavati.jpeg" alt="Logo" width="200">
        </div>
        <h1>TIMBAVATI MEDICAL SERVICES</h1>
        <nav class="navigation"> <!-- Added class to the nav element -->
                <a href="Home.html" class="me-1 mb-1">Home</a>
                <a href="About.html" class="me-1 mb-1">About</a>
                <a href="OUR SERVICES.html" class="me-1 mb-1">Services</a>
                <a href="our clients.html" class="me-1 mb-1">Clients</a>
                <a href="Gallery.html" class="me-1 mb-1">Gallery</a>
                <a href="CONTACT.html" class="me-1 mb-1">Contact</a>

        </nav>
</header>

<div class="welcome">
        <h2>Occupational Health</h2>
        <p>Welcome to Tmbavati medical services! We provide comprehensive occupational health services to ensure the well-being of your workforce.</p>
</div>

<div class="row gallery">
        <div class="gallery-item col-md-6 col-sm-12">
                <img src="../assets/TMS SIGNS/TMS Signs_page-0001.jpg" alt="Image 1">
                <div class="info">
                        <!-- Information to display behind the picture -->
                        <h3>Medical Screening</h3>
                        <p>Medical screening is a proactive process aimed at detecting diseases or risk factors in individuals who may not yet show symptoms. It involves various tests, examinations, or assessments to identify conditions early, enabling timely intervention and prevention of further complications.</p>
                </div>
        </div>
        <div class="gallery-item col-md-6 col-sm-12">
                <img src="../assets/TMS SIGNS/TMS Signs_page-0002.jpg" alt="Image 2">
                <div class="info">
                        <!-- Information to display behind the picture -->
                        <h3>Vital Signs</h3>
                        <p>Vital signs are essential physiological measurements reflecting key bodily functions: blood pressure, heart rate (pulse), respiratory rate, and body temperature. They offer crucial insights into overall health, cardiovascular function, respiratory efficiency, and metabolic activity. Monitoring these indicators helps assess health status, diagnose conditions, and guide treatment promptly.</p>
                </div>
        </div>
        <div class="gallery-item col-md-6 col-sm-12">
                <img src="../assets/TMS SIGNS/TMS Signs_page-0003.jpg" alt="Image 3">
                <div class="info">
                        <!-- Information to display behind the picture -->
                        <h3>Vision Test</h3>
                        <p>A vision test evaluates the clarity of eyesight by reading letters or symbols on a chart. It assesses visual acuity, detects refractive errors, and identifies potential eye conditions.</p>
                </div>
        </div>
        <div class="gallery-item col-md-6 col-sm-12">
                <img src="../assets/TMS SIGNS/TMS Signs_page-0004.jpg" alt="Image 4">
                <div class="info">
                        <!-- Information to display behind the picture -->
                        <h3>Hearing Test</h3>
                        <p>A hearing test evaluates an individual's auditory function by measuring their ability to hear sounds at various frequencies and volumes. This typically involves listening to tones through headphones or responding to spoken words. The test helps identify hearing loss, assesses the degree and type of impairment, and guides recommendations for treatment or intervention.</p>
                </div>
        </div>
        <div class="gallery-item col-md-6 col-sm-12">
                <img src="../assets/TMS SIGNS/TMS Signs_page-0005.jpg" alt="Image 5">
                <div class="info">
                        <!-- Information to display behind the picture -->
                        <h3>Doctor's Exam</h3>
                        <p>A doctor's exam involves a thorough assessment of a patient's physical health and well-being. It includes checking vital signs, discussing medical history, and conducting a physical examination to identify any signs of illness or abnormalities. The doctor may also order additional tests or screenings as needed to make an accurate diagnosis and recommend appropriate treatment.</p>
                </div>
        </div>
        <div class="gallery-item col-md-6 col-sm-12">
                <img src="../assets/TMS SIGNS/TMS Signs_page-0006.jpg" alt="Image 6">
                <div class="info">
                        <!-- Information to display behind the picture -->
                        <h3>X-Ray</h3>
                        <p>X-ray imaging is a diagnostic technique that uses electromagnetic radiation to create images of the inside of the body. It can reveal bone fractures, joint dislocations, and abnormalities in organs such as the lungs or heart. During the procedure, the patient is positioned between the X-ray machine and a film or digital detector, and a small dose of radiation is passed through the body. Dense structures like bones absorb more radiation, appearing white on the resulting image, while less dense tissues appear darker. X-rays are valuable for diagnosing a variety of medical conditions quickly and non-invasively.</p>
                </div>
        </div>
</div>


   <footer>
        <div class="footer-columns">
                <div class="footer-column">
                        <h3>Johannesburg Branch (Head Office)</h3>
                        <p><br>17662/1 EXT 8<br>Protea Glen<br>Soweto<br>1818</p>

                </div>
                <div class="footer-column">
                    <h3>Polokwane Branch</h3>
                    <p><br>394 BLOCK H<br>Seshego<br>Polokwane<br>0724</p>
                </div>
                <div class="footer-column">
                    <h3>Mafikeng Branch</h3>
                    <p><br>7874 UNIT 6<br>Mmabatho<br>Mafikeng<br>2745</p>
                </div>
                <div class="footer-column">
                        <h3>Contact</h3>
                        <p>
                                 <a href="tel:0871507893"><i class="fas fa-phone"></i> 087 150 7893</a><br>
                                 <a href="mailto:info@tmedicals.co.za"><i class="far fa-envelope"></i> Email</a><br>
                                 <a href="https://www.facebook.com/profile.php?id=tmedicals"><i class="fab fa-facebook"></i> Facebook</a>
                                 <a href="https://www.instagram.com/timbavati.medicals/"><i class="fab fa-instagram"></i> Instagram</a>
                        </p>
                </div>
        </div>


        <p>&copy; Timbavati Medical Services. All rights reserved.</p>
</footer>
