
<header>
    <h1>Our Services</h1>
</header>
<main class="row px-2">
    <section id="occupational-medicine">
        <h2>Occupational Medicine & Health Division</h2>
        <p>The following service(s) offering is rendered by the “Occupational Medicine & Health Division”.</p>
        <ul>
            <li>Medical Surveillance Programmes</li>
            <li>Medical Examinations</li>
            <li>Hazards Identification and Risk Assessment</li>
            <li>Occupational Health & Safety Division</li>
            <li>The purpose of Risk Assessment</li>
            <li>Developing safety plan</li>
        </ul>
    </section>

    <section id="primary-healthcare">
        <h2>Primary Healthcare And Wellness Division</h2>
        <p>The following service(s) offering is rendered by the “Primary Healthcare And Wellness Division”.</p>
        <ul>
            <li>Health promotions workshops</li>
            <li>HIV wellness programmes</li>
            <!-- Add other points here -->
        </ul>
    </section>
</main>